{#
    Skeleton for all the training web interface pages. The main page
    content is in the block 'page_content'. Javascript snippets should go
    in the 'scripts' block.  Script files should go in the 'header_scripts'
    block.
#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Neuronet Training Tool</title>
    </head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="http://localhost:5000/static/js/highcharts.js"></script>
    <script src="http://localhost:5000/static/js/semantic.min.js"></script>
    <script src="http://localhost:5000/static/js/utilities.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    {% block header_scripts %}
    {% endblock %}
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <link rel="stylesheet" href="http://localhost:5000/static/css/icon.min.css">
    <link rel="stylesheet" href="http://localhost:5000/static/css/semantic.min.css">
    <link rel="stylesheet" href="http://localhost:5000/static/css/style.css">
    <style type="text/css">
      .ui.menu .item img.logo {
        margin-right: 1.5em;
      }
      .main.container {
        margin-top: 7em;
      }
    </style>

    <body>
        <div class="ui fixed grey inverted menu">
                <div class="ui header item">
                    <a href="http://localhost:5000/ui">Neuronet Training Tool</a>
                </div>
                <div class="right menu">
                    <div class="ui item">
                      <div class="ui purple label">
                        <i class="large microchip icon"></i>
                        CPU:
                        <div class="detail" id='stats-cpu-usage'>
                          ...
                        </div>
                      </div>
                      <div class="ui green icon label">
                        <i class="large disk outline icon"></i>
                        Memory:
                        <div class="detail" id='stats-memory-usage'>
                          ...
                        </div>
                      </div>
                    </div>
                    <a class="ui item" href="http://localhost:5000/ui/training">
                        {% block  current_model_name %} {% endblock %}
                    </a>
                </div>

        </div>
        <div class="ui main container">
            {% block page_content %}
            {% endblock page_content %}
        </div>
        <script>
            function update_cpuinfo()
            {
                $.getJSON('http://localhost:5000/status/system_stats.json',
                        function(data) {
                            cpu_percentage = data.cpu;
                            memory_used = data.memory[0];
                            memory_available = data.memory[1];
                            $('#stats-cpu-usage').html(`<span style="font-size:16px">${cpu_percentage.toFixed(2)}%</span>`);
                            $('#stats-memory-usage').html(format_memory_usage(memory_used, memory_available));
                        }
                    );
            };
            setInterval(update_cpuinfo, 2000);
            $('.ui.dropdown').dropdown();
        </script>
        {% block scripts%}
        {% endblock %}

    </body>
</html>
