{% extends "nn_skeleton.html" %}

{% macro render_confusion_matrix(matrix_entries) %}
  {% set labels = supervisor._meta.category_labels %}
  <table style="ui celled table">
    <tr>
      <td class="empty-cell"></td>
      {% for label in labels.keys()|sort() %}
        <td  class="confusion-matrix-label-cell" style="text-align:center"><b>{{ labels[label] }}</b></td>
      {% endfor%}
    </tr>
    {% for label_r in labels.keys()|sort() %}
      <tr>
        <td class="confusion-matrix-label-cell"><b>{{ labels[label_r] }}</b></td>
        {% for label_c in labels.keys()|sort() %}
          {% if label_c == label_r: %}
            <td class="confusion-matrix-entry-cell positive" id='c-cell-{{label_r}}-{{label_c}}'> ... </td>
          {% else %}
            <td class="confusion-matrix-entry-cell negative" id='c-cell-{{label_r}}-{{label_c}}'> ... </td>
          {% endif %}
        {% endfor%}
      </tr>
    {% endfor%}
  </table>
{% endmacro %}

{% block current_model_name %}
  {{ supervisor._meta.name }}
{% endblock %}

{% block page_content %}
  {# <div class='ui container' style="height:200px">
      <h2 class="ui icon header" style="width:100%; padding:40px">
      <i class="desktop icon"></i>
      <div class="content">
        Training monitor
      </div>
    </h2>
  </div> #}
  <div class="ui attached segments">
     <div class="ui block header segment">
      <i class="left floated desktop icon"></i>
      {{ supervisor._meta.name }}
    </div>
    <div class="ui segment">
      <div class="ui grid">
        <div class="ui four wide column">
          <div class="item">
            <div class="content">
              <div class="header">
                Model type:
              </div>
              {{ supervisor._meta.type }}
            </div>
          </div>

          <div class="item">
            <div class="content">
              <div class="header">
                Dataset:
              </div>
              {{ supervisor._meta.dataset['display_name'] }}
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="header">
                Categories:
              </div>
              {% for label in supervisor._meta.dataset['category_labels'] %}
                {% set label_display = supervisor._meta.dataset['category_labels'][label] %}
                <div class="ui grey basic mini label">
                  {{ label_display }}
                  {# <div class="detail">{{ label_display }}</div> #}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="ui six wide right floated column">
          <div class='ui top attached block header segment'>
            Elapsed time
          </div>
          <div class="ui attached segment" id='elapsed-time'>
            22
          </div>
          <div class='ui attached block header segment'>
                Remaining time
          </div>
          <div class="ui bottom attached segment" id='remaining-time'>
            31,200
          </div>

        </div>
      </div>
    </div>
    <div class="ui horizontal segments">
      <div class="ui segment">
        Batch time: <span class="ui right floated label" id="stats-batch-time">NAN</span>
      </div>
      <div class="ui segment">
        Epoch time: <span class="ui right floated label" id="stats-epoch-time">NAN</span>
      </div>

      <div class="ui segment">
        <div class="ui grey right floated label">
          Test loss:
          <div class="detail" id='current-test-loss'>
            .445
          </div>
        </div>
        <div class="ui grey right floated label">
          Test accuracy:
          <div class="detail" id='current-test-accuracy'>
            22.3%
          </div>
        </div>

      </div>
      <div class="ui segment">

      </div>
    </div>
  </div>

<div class='ui container'>
    <div class="ui message">
      <div class="ui three column grid">
        <div class="two wide column">
          <div class="progress-meter", id='progress-meter' style="width:100px; height:100px;margin:0px;padding:0px"></div>

          <div class="progress-text" style="width:100px; text-align:center; font-size:10px"><b>EPOCH</b>
              <div id="epoch-number" style="display: inline">2534</div> of <div id='total-epochs' style="display: inline">5000</div>
            </div>
        </div>
            {# <div class='seven wide column'>
                    Elapsed time
                <div class="value" id='elapsed-time'>
                  22
                </div>
              </div> #}
              {# <div class='seven wide column'>
                    Remaining time
                <div class="value" id='remaining-time'>
                  31,200
                </div>
              </div> #}
            </div>
          </div>
    <h3 class="ui top attached fluid block header">
      Model performance
    </h3>
    <div class="ui bottom attached segment">
      {{ render_confusion_matrix() }}
    </div>
    <div class="ui one column equal height grid">
        <div class="column sixteen wide">
            <h4 class="ui top attached small block header">
                Loss
                <div class="ui top right green label">
                  Avg. training:
                  <div class="detail"  id="stats-training-loss">
                    foo
                  </div>
                </div>
                <div class="ui top right green label">
                  Avg. validation:
                  <div class="detail"  id="stats-validation-loss">
                    foo
                  </div>
                </div>

              </h4>
              <div class="ui bottom attached segment", id="loss-graph-content" style="height:190px">
                Segment
              </div>

              <h4 class="ui top attached block header">
                  Accuracy
                  <div class="ui top right green label">
                    Avg. training:
                    <div class="detail" id="stats-training-accuracy">
                      foo
                    </div>
                  </div>
                  <div class="ui top right green label">
                    Avg. validation:
                    <div class="detail" id="stats-validation-accuracy">
                      foo
                    </div>
                  </div>

                </h4>
                <div class="ui bottom attached segment", id="acc-graph-content" style="height:190px">
                  Segment
                </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts%}
<script type="text/javascript">
setInterval(update_stats, 2000);
setInterval(update_progress, 2000);
setInterval(update_graphs, 2000);
setInterval(update_confusion_matrix, 2000);

$(document).ready(
    function ()
    {
        loss_graph = make_graph($('#graph').height(), 'loss-graph-content');
        accuracy_graph = make_graph($('#graph').height(), 'acc-graph-content');
    }
);
</script>
{% endblock %}

{% block header_scripts %}
  <script src="http://localhost:5000/static/js/train_update.js"></script>
  <script src="http://localhost:5000/static/js/training_graphs.js"></script>
{% endblock %}
